@use 'hero';
@use '../styles/variables';
@use '../styles/components/infos_bar';
@use '../styles/components/buttons';
@use './event';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    &--final{
        h2{
            color: variables.$secondaryTextColor;
            font-weight: bold;
            font-size: 25px;
            margin-top: 25px;
            margin-bottom: 24px;
            text-align: center;
            text-decoration: underline;
        }

        p{
            color: variables.$secondaryTextColor;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
        }
    }

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}